fastapi
uvicorn[standard]
python-multipart
websockets
opencv-python-headless
numpy
scipy
scikit-learn
pydantic
python-dotenv
qrcode
pillow
mysql-connector-python
python-jose[cryptography]
passlib==1.7.4
bcrypt==4.0.1
requests