fastapi
uvicorn[standard]
python-multipart
websockets
opencv-python-headless
numpy
scipy
scikit-learn
pydantic
python-dotenv
qrcode
pillow
mysql-connector-python
python-jose[cryptography]
passlib[bcrypt]
requests